div, ul, li, a, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

div {
  width: 90px;
}

.menu {
  width: 90px;
  text-decoration: none;
  background-color: #9999FF;
  color: #000;
  border : solid 1px #6666CC;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.menu-item {
  width: 90px;
  text-decoration: none;
  background-color: #CCCCFF;
  color: #000;
  border : solid 1px #6666CC;
  border-top: none;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
